.icon-UserMenu {background-image: url(/CnamP2App/images/user_suit.png) !important;}
.icon-user {background-image: url(/CnamP2App/images/user_green.png) !important;}
.icon-user1 {background-image: url(/CnamP2App/images/user_orange.png) !important;}
.icon-module {background-image: url(/CnamP2App/images/package.png) !important;}
.icon-form {background-image: url(/CnamP2App/images/database_table.png) !important;}
.icon-function {background-image: url(/CnamP2App/images/wrench_orange.png) !important;}
.icon-grouping {background-image: url(/CnamP2App/images/group_key.png) !important; }
.icon-role {background-image: url(/CnamP2App/images/wrench-rose.png) !important;}
.icon-reset {background-image: url(/CnamP2App/images/reset.png) !important; }
.icon-passpolicy {background-image: url(/CnamP2App/images/report_disk.png) !important; }
.icon-grid {background-image: url(/CnamP2App/images/grid.png) !important; }
.icon-search {background-image: url(/CnamP2App/images/search_icon.jpg) !important; }
.icon-delete {background-image: url(/CnamP2App/images/delete.gif) !important; }
.icon-add {background-image: url(/CnamP2App/images/add.gif) !important; }
.icon-edit {background-image: url(/CnamP2App/images/application_edit.png) !important; }
.icon-save {background-image: url(/CnamP2App/images/save.gif) !important; }
.icon-arrow-right {background-image: url(/CnamP2App/images/arrow_right.png) !important; }
.icon-arrow-left {background-image: url(/CnamP2App/images/arrow_left.png) !important; }
.icon-change-password {background-image: url(/CnamP2App/images/change_password.jpg) !important; }
.icon-cross {background-image: url(/CnamP2App/images/cross.png) !important; }
.icon-logout {background-image: url(/CnamP2App/images/logout.jpg) !important; }
.icon-login {background-image: url(/CnamP2App/images/login.jpg) !important;  width:80px!important; height:40px!important;margin:0px!important;}
.icon-institution {background-image: url(/CnamP2App/images/institution.jpg) !important; }
.icon-configuration {background-image: url(/CnamP2App/images/configuration.png) !important; }
.icon-transaction {background-image: url(/CnamP2App/images/transaction.jpg) !important; }
.icon-login-cards {background-image: url(/CnamP2App/images/login-cards.png) !important; }
.icon-cards {background-image: url(/CnamP2App/images/cards.jpg) !important; }
.icon-branch {background-image: url(/CnamP2App/images/branch.jpg) !important; }
.icon-bin {background-image: url(/CnamP2App/images/credit_cards.jpg) !important; }
.icon-product {background-image: url(/CnamP2App/images/products.jpg) !important; }
.icon-card {background-image: url(/CnamP2App/images/cards.jpg) !important; }
.icon-cross {background-image: url(/CnamP2App/images/cross.png) !important; }
.icon-lock {background-image: url(/CnamP2App/images/lock.png) !important; }
.icon-exclamation {background-image: url(/CnamP2App/images/exclamation.png) !important;}